@import url('https://cdn.syncfusion.com/ej2/material.css');
@import url('https://cdn.syncfusion.com/ej2/ej2-navigations/styles/material.css?_gl=1*1tyi6a1*_ga*Njg1NjQ2MS4xNjg1Nzc3NDcy*_ga_41J4HFMX1J*MTcwNjQzOTEzMC44LjEuMTcwNjQ0MDMxMi4wLjAuMA..');
.navbar{
  width: inherit;
  position: sticky;
  top: 0;
  z-index: 999;
}


.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  position: relative;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a{
  text-decoration: none;
  color: white;
}